:root {
    --ff: "Kumbh Sans";

    --fw-400: 400;
    --fw-700: 700;

    --fs: 18px; /*(name and stats)*/

    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);

    --dark-gray: hsl(0, 0%, 59%);
    --white: hsl(0, 0%, 100%);
}

html, body {
    height: 100%;
}

body {
    align-items: center;
    background-color: var(--dark-cyan);
    background-image: url('./images/bg-pattern-top.svg'), url('./images/bg-pattern-bottom.svg');
    background-position: 1px -340px, 750px 350px;
    background-repeat: no-repeat, no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
}

.profile-card {
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
    position: relative;
}

.profile-card__bg-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.profile-card__avatar__img {
    border: 5px solid var(--white);
    border-radius: 50%;
    left: 35%;
    margin: 0 auto;
    position: absolute;
    top: 25%;
}

.profile-card__avatar__title {
    font-weight: var(--fw-700);
    margin: 60px 0 0;
}

.profile-card__avatar__title, .profile-card__avatar__text {
    font-family: var(--ff);
    text-align: center;
}

.profile-card__avatar__title--light, .profile-card__avatar__text {
    color: var(--dark-gray);
}

.profile-card__line {
    border-width: 1px 0 0;
    color: var(--dark-gray);
    margin: 0;
}

.profile-card__stats {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 10px;
}

.profile-card__stats__title {
    font-weight: var(--fw-700);
    margin: 20px 0 10px;
}

.profile-card__stats__title, .profile-card__stats__text {
    font-family: var(--ff);
}

.profile-card__stats__text {
    color: var(--dark-gray);
    font-size: 10px;
    text-align: center;
}
